- Food: '4d4b7105d754a06374d81259'
- American restaurant: '4bf58dd8d48988d14e941735'
- Greek restaurant: '4bf58dd8d48988d10e941735'
- Indian restaurant: '4bf58dd8d48988d10f941735'
- Italian restaurant: '4bf58dd8d48988d110941735'

### Running this cell causes the number of calls to Foursquare to exceed the daily limit

In [9]:
# get rating and price for each food place

rating = []
price = []
for ID in dc_venues['Venue ID']:
    url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'.format(ID, CLIENT_ID, CLIENT_SECRET, VERSION)
    result = requests.get(url).json()['response']['venue']
    try:
        rating.append(result['rating'])
    except:
        rating.append(np.nan)
    try:
        price.append(result['price']['tier'])
    except:
        price.append(np.nan)

https://api.foursquare.com/v2/venues/4f416c7ce4b0daed43db73bf?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/4c5aea0f67ac0f474dd9074c?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/4bfb0214d2b720a13871326a?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/5d1478a2c56f480023ca4aa8?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/4fabff9ce4b03a9d6afb3643?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/4f8b3483e4b002b90ce7b84d?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/5f6176c1c510866ca8636c27?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/5da0fe8f63c32c0008d5abf0?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/5735edc5498e8df1c9506233?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/5f130d1f46d780020e6331f6?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/59a02a8975eee445406e0c72?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/5207aa8111d28afd3b21cf3f?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/539fa767498e35589fca754f?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/53ecf267498eded9dcece192?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/5af5d03e005ac1002ba5341c?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/551c3010498ef16660903611?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/4ffadf90e4b0f1c61a16fcf9?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/5ed7b0cf53dd4e00088d8d2d?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/5f4afdc6250989508edf43aa?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/520a756911d20ef0a74a329b?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/5e4f2fc77a1bd900088ec164?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/5bb742a02632ec002cb00677?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/5e1dbdcf2147300007e6f342?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/5d17b85dca917c0023d66806?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/5a4e4bf8febf316fdc9f15df?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/5509ad89498ecf257e806d32?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/4c190f4898f4a5937a7efff5?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/5daf0dbf3482360007e7c7b5?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/4c7401161b30a093b56feb09?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/4a7e063af964a520aff01fe3?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/4a7cbde9f964a5206ded1fe3?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/5952f04c7b2e047f4e3fdf63?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/40d38200f964a52048011fe3?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/5648c247498e93b42e8897c8?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/4a8840cbf964a5208f0520e3?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/4b9e6bd7f964a52048e236e3?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/4f993c69e4b0a7aa852def57?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/4aedfad6f964a520d7d021e3?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/5a3e088e9411f24cdba6f0d0?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/57599792498e1b7150fe95f1?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/4b586e0af964a520545728e3?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/4a4eb693f964a520f4ae1fe3?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/5acbee68d41bb733995e8e75?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/5b3e539a2a7ab600394fb122?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/5aeced704b78c5002c0f1502?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/454a14f8f964a5209e3c1fe3?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/5bccbbc2c03635002c48bc1a?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/58dee3dc54386d4959b23de0?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/4b51f953f964a5207c5e27e3?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/4bd22974a8b3a593474d675f?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605
https://api.foursquare.com/v2/venues/50905502d63e87c2d3448e35?client_id=5RULFDSHMTJRTHB12ID33K3NDDTEFCNVRVK2N5LAXVZTENYZ&client_secret=OAKGNOH5WAOEGPZPHHHOZVCR4RNE4JYI022XVDFSWYI040OZ&v=20180605

KeyError: 'venue'

In [19]:
URL = 'https://www.rentcafe.com/average-rent-market-trends/us/dc/washington/'
page = requests.get(URL)

soup = BeautifulSoup(page.content, 'html.parser')

In [22]:
results = soup.find(id='MarketTrendsAverageRentTable')

In [38]:
dc_rent = pd.read_html(str(results))[0]

In [48]:
import openpyxl
dc_venues[dc_venues.columns[:2]].drop_duplicates().to_excel('nbh.xlsx')

In [76]:
df.columns

Index(['Cluster', 'Neighborhood', 'Rent'], dtype='object')

In [80]:
df['Rent'][0]

'1269, 1270'

In [85]:
type(df['Rent'][0])

str

In [112]:
df=pd.read_excel('nbh.xlsx')
# drop first column and drop rows with na
df=df.drop(df.columns[[0,2]], axis=1).dropna()
# get mean of each list of rent prices
df['Rent'] = df['Rent'].astype(str).apply(lambda x: mean(list(map(int, x.split(', ')))))

In [113]:
df.head()

      Cluster    Rent
0  Cluster 38  1269.5
1  Cluster 36  1269.0
2  Cluster 27  2768.0
3   Cluster 8  2627.0
4   Cluster 5  2808.5

In [118]:
joined=dc_venues.set_index('Cluster').join(df.set_index('Cluster')).reset_index()

,Cluster,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue ID,Venue Latitude,Venue Longitude,Venue Category,Rent
176,Cluster 40,Walter Reed,38.974975,-77.031159,Burger King,4d99ded13bca41bd50145dec,38.976053,-77.028872,Fast Food Restaurant,NaN
177,Cluster 40,Walter Reed,38.974975,-77.031159,Subway,4c8a532d52a98cfaef6e2be9,38.976661,-77.028758,Fast Food Restaurant,NaN

In [122]:
crime=pd.read_csv('Crime_Incidents_in_2015.csv')
crime['NEIGHBORHOOD_CLUSTER'].unique()

array(['Cluster 34', 'Cluster 21', 'Cluster 7', 'Cluster 15',
       'Cluster 23', 'Cluster 33', 'Cluster 6', 'Cluster 3', 'Cluster 2',
       'Cluster 26', 'Cluster 22', 'Cluster 24', 'Cluster 17',
       'Cluster 4', 'Cluster 32', 'Cluster 18', 'Cluster 27',
       'Cluster 11', 'Cluster 38', 'Cluster 39', 'Cluster 5',
       'Cluster 25', 'Cluster 31', 'Cluster 8', 'Cluster 30', 'Cluster 1',
       'Cluster 12', 'Cluster 35', 'Cluster 20', 'Cluster 9',
       'Cluster 28', 'Cluster 37', nan, 'Cluster 14', 'Cluster 19',
       'Cluster 36', 'Cluster 16', 'Cluster 13', 'Cluster 10',
       'Cluster 29'], dtype=object)

In [123]:
crime.columns

Index(['X', 'Y', 'CCN', 'REPORT_DAT', 'SHIFT', 'METHOD', 'OFFENSE', 'BLOCK',
       'XBLOCK', 'YBLOCK', 'WARD', 'ANC', 'DISTRICT', 'PSA',
       'NEIGHBORHOOD_CLUSTER', 'BLOCK_GROUP', 'CENSUS_TRACT',
       'VOTING_PRECINCT', 'LATITUDE', 'LONGITUDE', 'BID', 'START_DATE',
       'END_DATE', 'OBJECTID', 'OCTO_RECORD_ID'],
      dtype='object')

In [124]:
crime['OFFENSE'].value_counts()

THEFT/OTHER                   14237
THEFT F/AUTO                  11263
ROBBERY                        3312
MOTOR VEHICLE THEFT            2894
BURGLARY                       2536
ASSAULT W/DANGEROUS WEAPON     2376
SEX ABUSE                       332
HOMICIDE                        160
ARSON                            18
Name: OFFENSE, dtype: int64

In [131]:
pd.DataFrame(crime['NEIGHBORHOOD_CLUSTER'].value_counts())

            NEIGHBORHOOD_CLUSTER
Cluster 2                   3148
Cluster 8                   2477
Cluster 6                   2055
Cluster 25                  2055
Cluster 26                  1845
Cluster 18                  1693
Cluster 3                   1448
Cluster 39                  1416
Cluster 23                  1391
Cluster 22                  1383
Cluster 21                  1359
Cluster 7                   1257
Cluster 17                  1231
Cluster 4                   1067
Cluster 31                  1011
Cluster 33                   993
Cluster 32                   969
Cluster 1                    892
Cluster 34                   879
Cluster 38                   712
Cluster 5                    694
Cluster 11                   650
Cluster 9                    586
Cluster 37                   536
Cluster 19                   512
Cluster 24                   499
Cluster 30                   474
Cluster 20                   466
Cluster 28                   438
Cluster 15                   402
Cluster 36                   363
Cluster 35                   337
Cluster 14                   320
Cluster 10                   251
Cluster 27                   250
Cluster 12                   227
Cluster 16                   186
Cluster 13                   168
Cluster 29                    81

In [127]:
demo = pd.read_csv('https://query.data.world/s/xynrkhepzzobddaqo2apsic6q5t5bq')
demo.columns

Index(['neighborhood_cluster', 'Cluster_num', 'Short_Name', 'Full_Name',
       'lon_ctr', 'lat_ctr', 'Population', 'Population,_1980',
       'Population,_1990', 'Population,_2000',
       ...
       'Charter_school_enrollment_2005', 'Charter_school_enrollment_2006',
       'Charter_school_enrollment_2007', 'Charter_school_enrollment_2008',
       'Charter_school_enrollment_2009', 'Charter_school_enrollment_2010',
       'Charter_school_enrollment_2011', 'Charter_school_enrollment_2012',
       'CAS_math_prof', 'CAS_read_prof'],
      dtype='object', length=416)

In [134]:
crime_per_nbh=demo[['neighborhood_cluster', 'Population,_2010']].set_index('neighborhood_cluster').join(
pd.DataFrame(crime['NEIGHBORHOOD_CLUSTER'].value_counts()))

In [137]:
crime_per_nbh['per1000']=(crime_per_nbh['NEIGHBORHOOD_CLUSTER']/crime_per_nbh['Population,_2010'])*1000

In [138]:
crime_per_nbh

                      Population,_2010  NEIGHBORHOOD_CLUSTER     per1000
neighborhood_cluster
Cluster 1                        18338                   892   48.642164
Cluster 2                        47378                  3148   66.444341
Cluster 3                        12174                  1448  118.942008
Cluster 4                        20464                  1067   52.140344
Cluster 5                        16160                   694   42.945545
Cluster 6                        17318                  2055  118.662663
Cluster 7                        23895                  1257   52.605148
Cluster 8                        13560                  2477  182.669617
Cluster 9                        11588                   586   50.569555
Cluster 10                       11986                   251   20.941098
Cluster 11                       12216                   650   53.208906
Cluster 12                       15550                   227   14.598071
Cluster 13                       18558                   168    9.052700
Cluster 14                       11713                   320   27.320072
Cluster 15                       12829                   402   31.335256
Cluster 16                        3957                   186   47.005307
Cluster 17                       19455                  1231   63.274223
Cluster 18                       39924                  1693   42.405571
Cluster 19                       13206                   512   38.770256
Cluster 20                        8875                   466   52.507042
Cluster 21                       19481                  1359   69.760279
Cluster 22                        8459                  1383  163.494503
Cluster 23                       14510                  1391   95.864921
Cluster 24                       11723                   499   42.565896
Cluster 25                       29295                  2055   70.148490
Cluster 26                       20909                  1845   88.239514
Cluster 27                        5705                   250   43.821209
Cluster 28                        4876                   438   89.827728
Cluster 29                        2445                    81   33.128834
Cluster 30                        6573                   474   72.113190
Cluster 31                       14500                  1011   69.724138
Cluster 32                       13008                   969   74.492620
Cluster 33                       14888                   993   66.698012
Cluster 34                       14963                   879   58.744904
Cluster 35                        7688                   337   43.834547
Cluster 36                        7572                   363   47.939778
Cluster 37                        8071                   536   66.410606
Cluster 38                        9710                   712   73.326468
Cluster 39                       30959                  1416   45.737911

In [142]:
dc_venues['Cluster'].unique()

AttributeError: 'numpy.ndarray' object has no attribute 'sorted'